<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ2PS51e1PuX6FWJYzPZlr9QbMhst1014</string>
	<key>GCM_SENDER_ID</key>
	<string>120598379512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiendaOnline.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>glamourstore-19f97</string>
	<key>STORAGE_BUCKET</key>
	<string>glamourstore-19f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120598379512:ios:572ffc964ef9ab9feb740d</string>
</dict>
</plist>